<% project = project_settings -%>
<div id="<%= dom_id(project) %>" class="project">
  <div class="project_settings">
    <% if project.completed? -%>
      <%= icon_fw('check') %>
    <% elsif project.hidden? -%>
      <%= icon_fw('eye-slash') %>
    <% end -%>
    <%= link_to_edit_project(project, icon_fw('cog')) %>
  </div>
  <% if project.description.present? -%>
    <div class="project_description"><%= render_text(project.description) %></div>
  <% end -%>
</div>
<div id="<%= dom_id(project, 'edit') %>" class="edit-form" style="display:none;">
   <div class="placeholder"> </div>
</div>
